.background {
    background-image: url(https://i.pinimg.com/originals/9b/cd/a0/9bcda09f801cd4e7eb4168d3dddb17ff.gif);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    font-size: medium;
  }